__pycache__/
*.pyc
*.sim
*.obj
raw_results/*
!raw_results/.gitkeep
!raw_results/kazakhstan_calib.obj
results/*
!results/.gitkeep
!results/kazakhstan_pars.obj
figures/*
!figures/.gitkeep
!figures/*.png
.DS_Store
temp/
